@import url(https://fonts.googleapis.com/css?family=Vollkorn);

/* Latest tune: 2024-01-02 */
/* Reference: https://docs.microsoft.com/en-us/windows/apps/design/layout/screen-sizes-and-breakpoints-for-responsive-design */

/* Breakpoint: small screen */

@media all and (max-width: 640px) { 
    nav p { font-size: 130%; line-height: 150%; word-spacing: 16px; }
    h1 { font-size: 160%; line-height: 130%; }
    p { font-size: 130%; line-height: 150%; }
}

/* Breakpoint: medium screen */

@media all and (min-width: 641px) and (max-width: 1007px) {
    nav p { font-size: 130%; line-height: 150%; word-spacing: 20px; }
    h1 { font-size: 160%; line-height: 130%; }
    p { font-size: 130%; line-height: 150%; }
}

/* Breakpoint: large screen */

@media all and (min-width: 1008px) {
    nav p { font-size: 150%; line-height: 150%; word-spacing: 24px; }
    h1 { font-size: 200%; line-height: 130%; }
    p { font-size: 150%; line-height: 150%; }
}

/* Not really affected by screen sizes */

    h1 { font-family: "Vollkorn", sans-serif; }
    p { font-family: "Vollkorn", sans-serif; }

    body { padding: 1% 2% 0% 1%; color: #d9d6d4; background-color: #423e3b; }
    
    a:link { text-decoration: none; color: #fecc85; background-color: #423e3b; }
    a:visited { text-decoration: none; color: #fecc85; background-color: #423e3b; }
    a:hover { text-decoration: none; color: #423e3b; background-color: #d9d6d4; }
    
    nav a:link { font-family: "Vollkorn", sans-serif; text-decoration: none; color: #fecc85; background-color: #423e3b; }
    nav a:visited { font-family: "Vollkorn", sans-serif; text-decoration: none; color: #fecc85; background-color: #423e3b; }
    nav a:hover { font-family: "Vollkorn", sans-serif; text-decoration: none; color: #423e3b; background-color: #d9d6d4; }
    
    p span.url a:link { font-family: "Source Code Pro", monospace; font-size: 85%; line-height: 100%; }
    p span.url a:visited { font-family: "Source Code Pro", monospace; font-size: 85%; line-height: 100%; }
    p span.url a:hover { font-family: "Source Code Pro", monospace; font-size: 85%; line-height: 100%; }
    
    p span.list a:link { font-family: "Vollkorn", sans-serif; line-height: 150%; }
    p span.list a:visited { font-family: "Vollkorn", sans-serif; line-height: 150%; }
    p span.list a:hover { font-family: "Vollkorn", sans-serif; line-height: 150%; }
    
    p span.inherit a:link { text-decoration: none; color: #fecc85; background-color: #423e3b; }
    p span.inherit a:visited { text-decoration: none; color: #fecc85; background-color: #423e3b; }
    p span.inherit a:hover { text-decoration: none; color: #423e3b; background-color: #d9d6d4; }

/* Masto */
    
    .toots {
      max-width: 400px;
      list-style: none;
      padding: 0;
      font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    }

    .toot {
      border-bottom: 1px solid #ccc;
      padding: 1rem;
    }

    /* Posting user. */
    .toot .user {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-evenly;
      align-content: flex-start;
      height: 46px;  /* Avatar height. */
      column-gap: 0.5rem;

      text-decoration: none;
      color: inherit;
    }

    .toot .avatar {
      border-radius: 4px;
    }

    .toot .display-name {
      font-weight: bold;
      display: block;
    }

    .toot .user:hover .display-name {
      text-decoration: underline;
    }

    .toot .username {
      display: block;
      margin-right: 1em;
      color: #999;
    }

    /* Boosting user is smaller and above the posting user. */
    .toot .boost {
      height: 23px;
      margin-bottom: 0.25rem;
      column-gap: 0.25rem;
    }

    .toot .boost:before {
      content: "♺";
      font-size: 140%;
    }

    .toot .boost .username {
      display: none;
    }

    .toot .permalink {
      text-decoration: none;
      display: block;
      color: #999;
      float: right;
    }

    .toot .permalink:hover {
      text-decoration: underline;
    }

    .toot .body {
      clear: both;
      margin-top: 1em;
    }

    .toot .body a {
      overflow-wrap: anywhere;
    }

    /* Weird trick to keep the text in the page but not display it. */
    .toot .body .invisible {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      width: 0;
      height: 0;
      position: absolute;
    }

    .toot .body .ellipsis::after {
      content: "…";
    }

    .toot .attachment {
      display: block;
      width: 100%;
      aspect-ratio: 16 / 9;
      border-radius: 4px;
    }

    .toot .attachment img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }