@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&family=Zen+Maru+Gothic:wght@400;700&family=Cactus+Classical+Serif&display=auto');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=vertical_align_top|arrow_right_alt');


/* Latest breakpoint tuning: 2025-11-07 */
/* Reference: https://docs.microsoft.com/en-us/windows/apps/design/layout/screen-sizes-and-breakpoints-for-responsive-design */

/* Breakpoint: small screen */

@media all and (max-width: 640px) { 
    body { padding: 0% 2% 2% 1%; font-size: 130%; }    
    nav { word-spacing: 16px; }
    nav img, img.nav { width: 24px; padding-left: 1%; padding-right: 1%; }
}

/* Breakpoint: medium screen */

@media all and (min-width: 641px) and (max-width: 1007px) {
    body { padding: 0% 5% 2% 5%; font-size: 130%; }
    nav { word-spacing: 20px; }
    nav img, img.nav { width: 25px; }
}

/* Breakpoint: large screen */

@media all and (min-width: 1008px) {   
    body { padding: 0% 18% 2% 15%; font-size: 145%; }
    nav { word-spacing: 24px; }
    nav img, img.nav { width: 26px; }
}

/* Not really affected by screen sizes */

    :is(a:is(:link, :visited), body:is(:lang(en), :lang(zh)), nav:is(a:is(:link, :visited), img), p span.inherit a:is(:link, :visited), .material-symbols-outlined) { 
        text-decoration: none; 
        color: #363537; 
        background-color: #fff4e4; 
        line-height: 150%; 
    }

    :is(a, p span.inherit a, .material-symbols-outlined):hover { 
        text-decoration: none; 
        color: #fff4e4; 
        background-color: #363537; 
    }

    :is(nav:is(a:is(:link, :visited), img), p span.inherit a:is(:link, :visited), .material-symbols-outlined) { 
        color: #f95738; 
    }

    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    }
    
    body { font-family: 'Zen Maru Gothic', sans-serif; }
    
    nav { padding: 1% 0% 1% 0%; }

    article { padding: 2% 0% 2% 0%; }
    article:lang(zh) { font-family: 'Cactus Classical Serif', serif; font-size: 85%; }

    h1 { font-size: 112%; font-weight: 700; }
    h1 span.dedication { font-size: 76%; padding: 0% 0% 0% 1%; font-weight: 400; }

    pre { font-family: 'Source Code Pro', monospace; font-size: 85%; }
    pre span.part { font-size: 120%; }
    pre span.stamp { font-family: 'Zen Maru Gothic', sans-serif; font-size: 111%; }
    pre span.time { font-size: 86%; line-height: 74%; }
       
    p span.url { font-family: 'Source Code Pro', monospace; font-size: 82%; }
    
    p span.list { font-size: 93%; }