@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/css?family=Raleway:300);

/* Latest tune: 2021-12-26 */
/* Reference: https://docs.microsoft.com/en-us/windows/apps/design/layout/screen-sizes-and-breakpoints-for-responsive-design */

/* Breakpoint: small screen */

@media all and (max-width: 640px) { 
    nav p { font-size: 110%; line-height: 110%; word-spacing: 18px; }
    nav img { width: 10%; height: auto; padding-right: 5%; padding-bottom: 1%; }
    article { padding: 1% 0% 1% 0%; }
    h1 { font-size: 160%; line-height: 130%; }
    h1 span.dedication { font-size: 81%; font-style: italic; font-weight: 200; line-height: 100%; padding: 0% 0% 0% 1%; }
    p { font-size: 130%; line-height: 150%; }
}

/* Breakpoint: medium screen */

@media all and (min-width: 641px) and (max-width: 1007px) {
    nav p { font-size: 110%; line-height: 110%; word-spacing: 22px; }
    nav img { width: 7%; height: auto; padding-right: 4%; padding-bottom: 1%; }
    article { padding: 1% 0% 1% 0%; }
    h1 { font-size: 160%; line-height: 130%; }
    h1 span.dedication { font-size: 81%; font-style: italic; font-weight: 200; line-height: 100%; padding: 0% 0% 0% 1%; }
    p { font-size: 130%; line-height: 150%; }
}

/* Breakpoint: large screen */

@media all and (min-width: 1008px) {
    nav p { font-size: 130%; line-height: 110%; word-spacing: 24px; }
    nav img { width: 2%; height: auto; padding-right: 1%; padding-bottom: 1%; }
    article { padding: 1% 0% 1% 0%; }
    h1 { font-size: 200%; line-height: 130%; }
    h1 span.dedication { font-size: 75%; font-style: italic; font-weight: 200; line-height: 100%; padding: 0% 0% 0% 1%; }
    p { font-size: 150%; line-height: 150%; }
}

/* Not really affected by screen sizes */

    h1 { font-family: "Raleway", sans-serif; }
    pre { font-family: "Source Code Pro", monospace; font-size: 130%; line-height: 150%; }
    pre span.part { font-family: "Raleway", sans-serif; font-size: 113%; font-weight: 600; }
    pre span.stamp { font-family: "Raleway", sans-serif; font-size: 97%; font-weight: 600; }
    pre span.time { font-family: "Source Code Pro", monospace; font-size: 76%; line-height: 80%; }
    p { font-family: "Raleway", sans-serif; }

    body { padding: 1% 2% 0% 1%; color: #89c9b8; background-color: #092532; }
    
    a:link { text-decoration: none; color: #89c9b8; background-color: #092532; }
    a:visited { text-decoration: none; color: #89c9b8; background-color: #092532; }
    a:hover { text-decoration: none; color: #092532; background-color: #89c9b8; }
    
    nav a:link { font-family: "Raleway", sans-serif; text-decoration: none; color: #c7e2b2; background-color: #092532; }
    nav a:visited { font-family: "Raleway", sans-serif; text-decoration: none; color: #c7e2b2; background-color: #092532; }
    nav a:hover { font-family: "Raleway", sans-serif; text-decoration: none; color: #092532; background-color: #89c9b8; }
    nav img { color: #c7e2b2; background-color: #092532; }
    
    p span.url a:link { font-family: "Source Code Pro", monospace; font-size: 85%; line-height: 100%; }
    p span.url a:visited { font-family: "Source Code Pro", monospace; font-size: 85%; line-height: 100%; }
    p span.url a:hover { font-family: "Source Code Pro", monospace; font-size: 85%; line-height: 100%; }
    p span.list a:link { font-family: "Raleway", sans-serif; font-size: 90%; line-height: 150%; }
    p span.list a:visited { font-family: "Raleway", sans-serif; font-size: 90%; line-height: 150%; }
    p span.list a:hover { font-family: "Raleway", sans-serif; font-size: 90%; line-height: 150%; }
    
    p span.inherit a:link { text-decoration: none; color: #c7e2b2; background-color: #092532; }
    p span.inherit a:visited { text-decoration: none; color: #c7e2b2; background-color: #092532; }
    p span.inherit a:hover { text-decoration: none; color: #092532; background-color: #89c9b8; }